<div class="author-card">
  <div class="author-avatar">
    <img src="assets/author_avatar.webp" alt="Angelin Abisha, Travel Blogger and Photographer" loading="lazy">
  </div>
  <div class="author-info">
    <h4>About the Author: Angelin Abisha</h4>
    <p>
      Hi, I'm Angelin! I'm a passionate travel writer, photographer, and digital nomad. I love exploring offbeat heritage sites, eating local street food, and sharing practical, budget-focused travel advice to empower first-time solo travelers. I hope this guide helps you navigate the historic streets of Fort Kochi!
    </p>
    <div class="social-links">
      <a href="#" class="social-link" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="social-link" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="social-link" aria-label="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
      <a href="#" class="social-link" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</div>
